body{font-family: 'Fira Sans', sans-serif;
    margin:0px
}
section{
    height: 500px;
}
h1{
    font-size: 40px;
    color: rgb(216, 29, 76);
}
h3{
    font-size: 30px;
}
.para{
    width: 40%;
    float: left;  
    margin-left: 6%;
    padding-left: 3%;
}
.qt{
    color: rgb(216, 29, 76);
}
.para img{
    width: 70%;
    padding-top: 3%;
}
a{
    color: whitesmoke;
}
.link-button{
    text-decoration: none;
    background-color: rgb(84, 130, 230);
    border-radius: 5px;
    padding: 10px 20px;
    
}
.link-button:hover{
    background-color: lightcoral;
    color: rgb(255, 255, 255);
}

.top{
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size:1500px 650px;
}
.bio{
    background-image: url(images/biography-bg.png);
    background-repeat: no-repeat;
    background-size:1500px 650px;
}
.third{
    background-image: url(images/latest-work-bg.png);
    background-repeat: no-repeat;
    background-size:1500px 650px;
}
.fourth{
    background-image: url(images/footer-bg.png);
    background-repeat: no-repeat;
    background-size:1500px 650px;
}
.cent{
    text-align: center;
    size: 40px;
}
.pic img{
    width: 20%;
    float: left;  
    margin: 4%;
    padding-left: 4%;
    padding-top: 4%;
}
.almost{
    text-align: center;
}
#nice{
    color: darkgray;
}
#rimad{
    color: whitesmoke;
}
.mail{

        border: 1px solid transparent;
        color: white;
        background-size: 3% 1%;
        font-size: 15px;
        font-weight: 20px;
        padding: 1% 2%;
        border-radius: 10x;
        text-align: center;
        margin: -5px 350px;
        background-color: rgb(233, 55, 114);
        
        
}
.mail:hover{
    background-color: rgb(56, 43, 114);
    color: black;
}  
footer{
    text-align: center;
}